@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.landing-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.left-page,
.right-page {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;
  position: relative;
}

.landing-pages.hover-left .left-page {
  width: 75%;
}

.landing-pages.hover-left .right-page {
  width: 25%;
}

.landing-pages.hover-right .right-page {
  width: 75%;
}

.landing-pages.hover-right .left-page {
  width: 25%;
}

.right-page {
  background: url(img/photography.jpg) no-repeat center center/cover;
}

.left-page {
  background: url(img/videography.jpg) no-repeat center center/cover;
}

.left-page::before,
.right-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #a569bd;
  opacity: 80%;
}

.right-page::before {
  background-color: #313131;
}

.left-page span,
.right-page span {
  position: absolute;
  bottom: 40px;
  font-size: 14px;
  z-index: 2;
}

h1 {
  color: #fff;
}

h1 {
  margin-bottom: 30px;
  z-index: 2;
}

a,
span {
  color: #d0d3d4;
}

.btn {
  padding: 15px 30px;
  font-size: 18px;
  z-index: 2;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: #45b39d;
  border: 2px solid #45b39d;
}

.btn:focus,
.btn:active {
  outline: none;
}
