@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(#76d7c4, #bb8fce);
}

.search {
  position: relative;
}

input {
  position: fixed;
  right: calc(50vw - 80px);
  background: #fff;
  border: none;
  height: 40px;
  width: 0;
  font-size: 18px;
  color: #313131;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.3s ease;
}

::placeholder {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.search.active .input {
  width: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.search.active ::placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn {
  position: fixed;
  right: calc(50vw - 120px);
  border: none;
  height: 40px;
  background: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn i {
  color: #abb2b9;
}

.search.active .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn:focus,
input:focus {
  outline: none;
}
